.holy-grail {
  display: flex;
  flex-direction: column;
}

.holy-grail__left {
  width: 25%;
}

.holy-grail__middle {
  /* Take the remaining width */
  flex-grow: 1;
}

.holy-grail__right {
  width: 20%;
}